<?xml version = "1.0" encoding = "UTF-8"?>
<web-app>

	<filter>
		<filter-name>Filter01</filter-name>
		<filter-class>ch12.com.filter.AuthenFilter</filter-class>
	</filter>
	<filter-mapping>
		
		<filter-name>FIlter01</filter-name>
		<url-pattern>/ch12/filter01_process.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>Filter02</filter-name>
		<filter-class>ch12.com.filter.InitParamFilter</filter-class>
		<init-parm>	
			<param-name>param1</param-name>
			<param-value>admin</param-value>
		</init-parm>
		<init-parm>	
			<param-name>param2</param-name>
			<param-value>1234</param-value>
		</init-parm>
		
	</filter>
	
	<error-page>
	<exception-type> java.lang.Exception</exception-type>
	<location>/1103_exception_error.jsp</location>
	</error-page>
	<error-page>
		<error-code> 500 </error-code>
		<location>/1103_exception_error.jsp</location>
	</error-page>
	
	<filter>
			<filter-name> Filter03</filter-name>
			<filter-class>ch12.com.filter.LogFileFilter</filter-class>
			<init-param>
				<param-name>filename</param-name>
				<param-value>C:\\logs\\monitor.log</param-value>
				
			
			</init-param>
			
			
			
			
			</filter>
			<filter-mapping>
				<filter-name>Filter03</filter-name>
				<url-pattern>/ch12/filter02_process.jsp</url-pattern>
				
				</filter-mapping>
		
</web-app>